:root {
  --primary-clr: #f25f4c;
  --secondary-clr: #ff8906;
  --tertiary-clr: #e53170;
  --background-clr: #0f0e17;
  --headline-clr: #fffffe;
  --paragraph-clr: #a7a9be;
  --button-clr: #717494;
  --txt-clr: #fffffe;
  --stroke-clr: black;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--background-clr);
  color: var(--txt-clr);
  margin: auto 10px;
}
.button-class {
  background-color: var(--button-clr);
  color: var(--txt-clr);
  padding: 20px;
  border: 5px solid var(--background-clr);
  margin: auto;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 4px;
  transition: 0.2s opacity;
  flex: 0 0 50px;
}

.button-class:hover,
.button-class:focus {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.5s opacity;
}
button:hover,
button:focus {
  font-weight: bold;
  cursor: pointer;
}


/* .cocktail-list {
  border: 5px solid var(--headline-clr);
} */

.modal-content {
  background: var(--primary-clr);
}

.modal-text {
  color: black;
}

.modal-img {
  border-radius: 20%;
}

.ingredients {
  list-style-type: none;
  text-align: left;
}
