 :root { 
  --primary-clr: #ff8906;
  --secondary-clr: #f25f4c;
  --tertiary-clr: #e53170;
  --background-clr: #0f0e17;
  --headline-clr: #fffffe;
  --paragraph-clr: #a7a9be;
  --button-clr: #ff8906;
  --txt-clr: #fffffe;
  --stroke-clr: black;
}
 
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--background-clr);
  color: var(--txt-clr);
}
