:root {
  --primary-clr: #68f191;
  --secondary-clr: #f6b229;
  --tertiary-clr: #e53170;
  --background-clr: #0f0e17;
  --headline-clr: #fffffe;
  --paragraph-clr: #a7a9be;
  --button-clr: #717494;
  --txt-clr: #fffffe;
  --stroke-clr: black;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--background-clr);
  color: var(--txt-clr);
  margin: auto 10px;
}

.bg-image,
.modal-header,
.modal-footer {
  background-image: url(../img/bg-cocktails1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button-class {
  background-color: var(--secondary-clr);
  color: var(--txt-clr);
  /* border: 5px solid var(--background-clr); */
  transition: 0.2s opacity;
  border-radius: 10px;
  bottom: 0;
  /* position: absolute; */
  display: flex;
}
.button-class:hover,
.button-class:focus {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.5s opacity;
  box-shadow: none;
}

.ingredients {
  list-style-type: none;
}

.modal-img {
  border-radius: 20%;
  max-width: 90%;
}

.modal-body {
  background-color: var(--primary-clr);
}

.modal-text {
  color: black;
}

.listItem {
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 10px solid black;

}

.list-header {
  font-weight: bold;
}

form {
  border: none;
}

.navbar {
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #0f0e17;
}